[Unit]
Description=Mount unit for intellij-idea-ultimate, revision 423
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/intellij-idea-ultimate_423.snap
Where=/snap/intellij-idea-ultimate/423
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
