[Unit]
Description=Mount unit for kde-frameworks-5-core18, revision 35
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/kde-frameworks-5-core18_35.snap
Where=/snap/kde-frameworks-5-core18/35
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
