[Unit]
Description=Mount unit for gtk2-common-themes, revision 13
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/gtk2-common-themes_13.snap
Where=/snap/gtk2-common-themes/13
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
